.landing-new,
.landing-new * {
  box-sizing: border-box;
}
.landing-new {
    background: #f3f3fd;
    height: 100vh; /* Ajusta a altura à tela do usuário */
    position: relative;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.35);
    overflow-x: hidden;
    padding: 5%; /* Margem interna proporcional */
}
.background {
  position: absolute;
  inset: 0;
}
.ellipse-1 {
    width: 15vw; /* Ajuste relativo à largura da tela */
    height: 15vw;
    top: 10vh;
    left: 60vw;
    filter: blur(20px);
}
.ellipse-2 {
    width: 20vw;
    height: 20vw;
    top: 15vh;
    left: 10vw;
    filter: blur(25px);
}
.frame-1 {
  width: 208px;
  height: 68.2px;
  position: absolute;
  left: 1412px;
  top: 82px;
}
.rectangle-23 {
  background: linear-gradient(
    96.14deg,
    rgba(58, 142, 246, 1) 0%,
    rgba(111, 58, 250, 1) 100%
  );
  border-radius: 17.05px;
  width: 208px;
  height: 68.2px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.log-in {
  color: #ffffff;
  text-align: left;
  font-family: "Satoshi-Black", sans-serif;
  font-size: 34px;
  font-weight: 900;
  position: absolute;
  left: 46.89px;
  top: 10.49px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 47.59px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 921px;
  top: 92px;
}
.group-7 {
  flex-shrink: 0;
  width: 72px;
  height: 43.45px;
  position: static;
}
.in-cio {
  color: #404040;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 25.38273811340332px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-1 {
  margin-top: -2.38px;
  border-style: solid;
  border-color: #125fbf;
  border-width: 2.38px 0 0 0;
  opacity: 0.3;
  width: 65.84px;
  height: 0px;
  position: absolute;
  left: 3.97px;
  top: 43.45px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.sobre-n-s {
  color: #404040;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 25.38273811340332px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.como-usar {
  color: #404040;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 25.38273811340332px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-2 {
  width: 354px;
  height: 72px;
  position: absolute;
  left: 130px;
  top: 291px;
}
.rectangle-24 {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 40px;
  border-style: solid;
  border-color: #b4b4b4;
  border-width: 1px;
  width: 341px;
  height: 72px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.health-matters {
  color: #525252;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 34px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-20 {
  width: 17.23%;
  height: 55.56%;
  position: absolute;
  right: 7.91%;
  left: 74.86%;
  bottom: 19.44%;
  top: 25%;
  overflow: visible;
}
.solu-o-r-pida-para-sua-d-vida-diagn-stico-profissional-em-segundos {
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  line-height: 77px;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 131px;
  top: 318px;
  width: 960px;
  height: 465px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.solu-o-r-pida-para-sua-d-vida-diagn-stico-profissional-em-segundos-span {
  color: #1678f2;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.02em;
  font-weight: 700;
}
.solu-o-r-pida-para-sua-d-vida-diagn-stico-profissional-em-segundos-span2 {
  color: #000000;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.02em;
  font-weight: 700;
}
.dor-no-peito-esquerdo {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  position: absolute;
  left: 132px;
  top: 1253px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-1140 {
  background: linear-gradient(
    90deg,
    rgba(58, 142, 246, 1) 0%,
    rgba(111, 58, 250, 1) 100%
  );
  border-radius: 29px;
  width: 50%;
  margin: auto;
  padding: 1rem;
  text-align: center;
  height: 65px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1587px;
  box-shadow: 0px 5px 9.7px -1px rgba(0, 0, 0, 0.25);
}
.clique-aqui-para-iniciar-um-diagn-stico-r-pido {
  color: #ededed;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.n-o-sabe-por-onde-come-ar {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1527px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.com-base-nos-seus-sintomas-oferecemos-an-lises-precisas-e-recomenda-es-m-dicas {
  color: #8a8585;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 32px;
  line-height: 43px;
  font-weight: 500;
  position: absolute;
  left: 131px;
  top: 740px;
  width: 762px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.we-provide-food-recomendation-according-to-your-calorie-requirements {
  color: #8a8585;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 132px;
  top: 1300px;
  width: 304px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.essa-dor-pode-ser-causada-por-varios-fatores-em-decorrencia-de-que {
  color: #8a8585;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 723px;
  top: 1300px;
  width: 304px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dor-1 {
  width: 93px;
  height: 93px;
  position: absolute;
  left: 1081px;
  top: 1293px;
  object-fit: cover;
}
.interactive-chatbot {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1253px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.essa-dor-pode-ser-causada-por-varios-fatores-em-decorrencia-de-que2 {
  color: #8a8585;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1297px;
  top: 1300px;
  width: 304px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.interactive-chatbot2 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  position: absolute;
  left: 1297px;
  top: 1253px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-25 {
  background: #f9f7f7;
  border-radius: 50px;
  width: 869px;
  height: 120px;
  position: absolute;
  left: 130px;
  top: 870px;
  box-shadow: 2px 6px 4px 0px rgba(144, 139, 139, 0.4);
}
.digite-seus-sintomas-aqui {
  color: rgba(82, 82, 82, 0.41);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 177px;
  top: 907px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kisspng-physician-diabetes-mellitus-computer-disease-preve-doctor-and-computer-5-a-99-b-82-dcadc-58-1 {
  width: 1285.36px;
  height: 965px;
  position: absolute;
  left: 1966.36px;
  top: 138px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.sugest-es-de-diagn-stico-em-tempo-real {
  background: linear-gradient(
    96.14deg,
    rgba(58, 142, 246, 1) 0%,
    rgba(111, 58, 250, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 34px;
  letter-spacing: 0.23em;
  font-weight: 700;
  position: absolute;
  left: 128px;
  top: 1138px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.como-melhorar-sua-sa-de {
  color: #000000;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 70px;
  line-height: 105px;
  font-weight: 600;
  position: absolute;
  left: 120px;
  top: 1845px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.t-pico-de-ajuda {
  background: linear-gradient(
    96.14deg,
    rgba(58, 142, 246, 1) 0%,
    rgba(111, 58, 250, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 34px;
  letter-spacing: 0.23em;
  font-weight: 700;
  position: absolute;
  left: 128px;
  top: 1754px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: flex-start;
  width: 1467px;
  position: absolute;
  left: 131px;
  top: 1990px;
}
.group-237456 {
  flex-shrink: 0;
  width: 310px;
  height: 519px;
  position: static;
}
.product-name {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  position: absolute;
  left: 6px;
  top: 392px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lorem-ipsum-amet-dolor-etit-tu {
  color: #8a8585;
  text-align: left;
  font-family: "Satoshi-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  left: 6px;
  top: 433px;
  width: 304px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-1 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 42.65px;
  width: 309px;
  height: 370px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.group-237457 {
  flex-shrink: 0;
  width: 310px;
  height: 519px;
  position: static;
}
.product-name2 {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  position: absolute;
  left: 376px;
  top: 392px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lorem-ipsum-amet-dolor-etit-tu2 {
  color: #8a8585;
  text-align: left;
  font-family: "Satoshi-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  left: 376px;
  top: 433px;
  width: 304px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-12 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 42.65px;
  width: 309px;
  height: 370px;
  position: absolute;
  left: 370px;
  top: 0px;
  object-fit: cover;
}
.group-237458 {
  flex-shrink: 0;
  width: 310px;
  height: 519px;
  position: static;
}
.product-name3 {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  position: absolute;
  left: 746px;
  top: 392px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lorem-ipsum-amet-dolor-etit-tu3 {
  color: #8a8585;
  text-align: left;
  font-family: "Satoshi-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  left: 746px;
  top: 433px;
  width: 304px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-13 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 42.65px;
  width: 309px;
  height: 370px;
  position: absolute;
  left: 740px;
  top: 0px;
  object-fit: cover;
}
.group-237459 {
  flex-shrink: 0;
  width: 310px;
  height: 519px;
  position: static;
}
.product-name4 {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  position: absolute;
  left: 1116px;
  top: 392px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lorem-ipsum-amet-dolor-etit-tu4 {
  color: #8a8585;
  text-align: left;
  font-family: "Satoshi-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  left: 1116px;
  top: 433px;
  width: 304px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-14 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 42.65px;
  width: 309px;
  height: 370px;
  position: absolute;
  left: 1110px;
  top: 0px;
  object-fit: cover;
}
.group-237460 {
  flex-shrink: 0;
  width: 310px;
  height: 519px;
  position: static;
}
.product-name5 {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  position: absolute;
  left: 1486px;
  top: 392px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lorem-ipsum-amet-dolor-etit-tu5 {
  color: #8a8585;
  text-align: left;
  font-family: "Satoshi-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  left: 1486px;
  top: 433px;
  width: 304px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-15 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 42.65px;
  width: 309px;
  height: 370px;
  position: absolute;
  left: 1480px;
  top: 0px;
  object-fit: cover;
}
.group-237461 {
  flex-shrink: 0;
  width: 310px;
  height: 519px;
  position: static;
}
.product-name6 {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  position: absolute;
  left: 1856px;
  top: 392px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lorem-ipsum-amet-dolor-etit-tu6 {
  color: #8a8585;
  text-align: left;
  font-family: "Satoshi-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  left: 1856px;
  top: 433px;
  width: 304px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-16 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 42.65px;
  width: 309px;
  height: 370px;
  position: absolute;
  left: 1850px;
  top: 0px;
  object-fit: cover;
}
.group-237462 {
  flex-shrink: 0;
  width: 310px;
  height: 519px;
  position: static;
}
.product-name7 {
  color: #000000;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  position: absolute;
  left: 2226px;
  top: 392px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lorem-ipsum-amet-dolor-etit-tu7 {
  color: #8a8585;
  text-align: left;
  font-family: "Satoshi-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  left: 2226px;
  top: 433px;
  width: 304px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-17 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 42.65px;
  width: 309px;
  height: 370px;
  position: absolute;
  left: 2220px;
  top: 0px;
  object-fit: cover;
}
.frame-4 {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: flex-start;
  width: 1470px;
  position: absolute;
  left: 120px;
  top: 2636px;
}
.frame-9 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 790px;
  top: 891px;
}
.group-2374622 {
  flex-shrink: 0;
  width: 78px;
  height: 78px;
  position: static;
}
.ellipse-5 {
  background: linear-gradient(
    96.14deg,
    rgba(58, 142, 246, 1) 0%,
    rgba(111, 58, 250, 1) 100%
  );
  border-radius: 50%;
  width: 78px;
  height: 78px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.heroicons-outline-microphone {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 16px;
  top: 16px;
  overflow: visible;
}
.group-237463 {
  flex-shrink: 0;
  width: 78px;
  height: 78px;
  position: static;
}
.ellipse-22 {
  background: linear-gradient(
    96.14deg,
    rgba(58, 142, 246, 1) 0%,
    rgba(111, 58, 250, 1) 100%
  );
  border-radius: 50%;
  width: 78px;
  height: 78px;
  position: absolute;
  left: 98px;
  top: 0px;
}
.heroicons-outline-magnifying-glass {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 114px;
  top: 16px;
  overflow: visible;
}
.footer-v-1 {
  position: absolute;
  inset: 0;
}
.footer-v-12 {
  background: var(--neutral-100, #ffffff);
  border-radius: 50px;
  padding: 0px 0px 143.96px 0px;
  width: 100%;
  height: 649px;
  position: absolute;
  left: 1px;
  top: 3282px;
  overflow: hidden;
}
.divider {
  margin-top: -1.2px;
  border-style: solid;
  border-color: var(--neutral-300, #eff0f6);
  border-width: 1.2px 0 0 0;
  width: 1727.47px;
  height: 0px;
  position: absolute;
  left: 1727.47px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
}
._24-px {
  display: flex;
  flex-direction: column;
  gap: 28.79px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 118.76px;
  top: 143.96px;
}
.group-1 {
  flex-shrink: 0;
  width: 83.68px;
  height: 71.21px;
  position: relative;
  overflow: visible;
}
.group-72 {
  flex-shrink: 0;
  width: 232.65px;
  height: 65.25px;
  position: static;
}
.group-3 {
  width: 32.41px;
  height: 32.41px;
  position: static;
}
.ellipse-12 {
  background: linear-gradient(
    96.14deg,
    rgba(58, 142, 246, 1) 0%,
    rgba(111, 58, 250, 1) 100%
  );
  border-radius: 50%;
  width: 32.41px;
  height: 32.41px;
  position: absolute;
  left: 200.24px;
  top: 100.01px;
  box-shadow: inset 0px 5.4px 5.4px 0px rgba(0, 0, 0, 0.12),
    0px 5.4px 25.66px 0px rgba(22, 120, 242, 0.2);
}
.group-2 {
  width: 18.32px;
  height: 18.32px;
  position: static;
}
.rectangle-21 {
  background: #ffffff;
  border-radius: 1.06px;
  width: 7.05px;
  height: 18.32px;
  position: absolute;
  left: 212.92px;
  top: 107.05px;
}
.rectangle-22 {
  background: #ffffff;
  border-radius: 1.06px;
  width: 7.05px;
  height: 18.32px;
  position: absolute;
  left: 225.6px;
  top: 112.69px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.med-med {
  background: linear-gradient(
    96.14deg,
    rgba(58, 142, 246, 1) 0%,
    rgba(111, 58, 250, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 43.21963119506836px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 100.25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.copyright {
  color: var(--neutral-600, #6f6c90);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 35.99px;
  font-weight: 400;
  position: relative;
  width: 372.31px;
}
.social-media-container {
  display: flex;
  flex-direction: row;
  gap: 26.39px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.social-media-icon-square-facebook {
  flex-shrink: 0;
  width: 13.2px;
  height: 22.79px;
  position: relative;
  overflow: visible;
}
.social-media-icon-square-twitter {
  flex-shrink: 0;
  width: 22.79px;
  height: 17.99px;
  position: relative;
  overflow: visible;
}
.social-media-icon-square-instagram {
  flex-shrink: 0;
  width: 22.79px;
  height: 22.79px;
  position: relative;
  overflow: visible;
}
.social-media-icon-square-linked-in {
  flex-shrink: 0;
  width: 22.79px;
  height: 21.59px;
  position: relative;
}
.group-73 {
  width: 94.74%;
  height: 95.24%;
  position: absolute;
  right: 0.79%;
  left: 4.47%;
  bottom: 0.19%;
  top: 4.57%;
  overflow: visible;
}
.social-media-icon-square-you-tube {
  flex-shrink: 0;
  width: 25.19px;
  height: 17.99px;
  position: relative;
}
.group-732 {
  width: 94.29%;
  height: 93.31%;
  position: absolute;
  right: 1.19%;
  left: 4.52%;
  bottom: 4.05%;
  top: 2.64%;
  overflow: visible;
}
.line-135 {
  margin-top: -1.2px;
  border-style: solid;
  border-color: var(--neutral-400, #d9dbe9);
  border-width: 1.2px 0 0 0;
  width: 1488.74px;
  height: 0px;
  position: absolute;
  left: 118.76px;
  top: 553.94px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.footer-column {
  display: flex;
  flex-direction: column;
  gap: 47.99px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1058.07px;
  top: 143.96px;
}
.footer-title {
  color: #1678f2;
  text-align: left;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 23.992605209350586px;
  line-height: 26.39px;
  font-weight: 700;
  position: relative;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 21.59px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.master-link {
  display: flex;
  flex-direction: row;
  gap: 7.2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.getting-started {
  color: #4f555a;
  text-align: center;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 23.99px;
  font-weight: 400;
  position: relative;
}
.help-center {
  color: #4f555a;
  text-align: center;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 23.99px;
  font-weight: 400;
  position: relative;
}
.server-status {
  color: #4f555a;
  text-align: center;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 23.99px;
  font-weight: 400;
  position: relative;
}
.report-a-bug {
  color: #4f555a;
  text-align: center;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 23.99px;
  font-weight: 400;
  position: relative;
}
.chat-support {
  color: #4f555a;
  text-align: center;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 23.99px;
  font-weight: 400;
  position: relative;
}
.footer-column2 {
  display: flex;
  flex-direction: column;
  gap: 47.99px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 831.34px;
  top: 143.96px;
}
.about {
  color: #4f555a;
  text-align: center;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 23.99px;
  font-weight: 400;
  position: relative;
}
.contact-us {
  color: #4f555a;
  text-align: center;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 23.99px;
  font-weight: 400;
  position: relative;
}
.careers {
  color: #4f555a;
  text-align: center;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 23.99px;
  font-weight: 400;
  position: relative;
}
.culture {
  color: #4f555a;
  text-align: center;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 23.99px;
  font-weight: 400;
  position: relative;
}
.blog {
  color: #4f555a;
  text-align: center;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 23.99px;
  font-weight: 400;
  position: relative;
}
.footer-right {
  position: absolute;
  inset: 0;
}
.footer-column3 {
  display: flex;
  flex-direction: column;
  gap: 47.99px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 587.82px;
  top: 143.96px;
}
.features {
  color: #4f555a;
  text-align: center;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 23.99px;
  font-weight: 400;
  position: relative;
}
.pricing {
  color: #4f555a;
  text-align: center;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 23.99px;
  font-weight: 400;
  position: relative;
}
.group-39464 {
  position: absolute;
  inset: 0;
}
.link2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1335.19px;
  top: 220.73px;
}
.line-rounded-email {
  flex-shrink: 0;
  width: 23.99px;
  height: 23.99px;
  position: relative;
  overflow: hidden;
}
.email {
  width: 83.33%;
  height: 62.5%;
  position: absolute;
  right: 8.33%;
  left: 8.33%;
  bottom: 18.17%;
  top: 19.33%;
  overflow: visible;
}
.link-item {
  color: #4f555a;
  text-align: center;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 21.593345642089844px;
  line-height: 23.99px;
  font-weight: 400;
  position: relative;
}
.footer-column4 {
  display: flex;
  flex-direction: column;
  gap: 47.99px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1335.19px;
  top: 143.96px;
}
.link3 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1335.19px;
  top: 271.12px;
}
.line-rounded-phone {
  flex-shrink: 0;
  width: 23.99px;
  height: 23.99px;
  position: relative;
  overflow: hidden;
}
.phone {
  width: 83.34%;
  height: 83.33%;
  position: absolute;
  right: 8.32%;
  left: 8.33%;
  bottom: 9.84%;
  top: 6.83%;
  overflow: visible;
}
._8-px {
  display: flex;
  flex-direction: row;
  gap: 9.6px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1335.19px;
  top: 321.5px;
}
.spacer-icon-wrapper {
  flex-shrink: 0;
  width: 23.99px;
  height: 30.83px;
  position: static;
}
.line-rounded-mark {
  width: 23.99px;
  height: 23.99px;
  position: absolute;
  left: 0px;
  top: 6.84px;
  overflow: hidden;
}
.mark {
  width: 68.61%;
  height: 83.33%;
  position: absolute;
  right: 15.7%;
  left: 15.7%;
  bottom: 8.33%;
  top: 8.33%;
  overflow: visible;
}
.spacer {
  background: var(--neutral-100, #ffffff);
  opacity: 0;
  width: 20.09px;
  height: 12.55px;
  position: absolute;
  left: 1.69px;
  top: 0px;
}
.footer-description {
  color: #4f555a;
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 35.99px;
  font-weight: 400;
  position: relative;
  width: 237.07px;
}
.footer-content {
  position: absolute;
  inset: 0;
}
.footer-left {
  color: var(--neutral-600, #6f6c90);
  text-align: left;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 35.99px;
  font-weight: 400;
  position: absolute;
  left: 131.24px;
  top: 584.06px;
}
.footer-right2 {
  text-align: right;
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 35.99px;
  font-weight: 400;
  position: absolute;
  left: 1035.8px;
  top: 584.06px;
}
.footer-right-2-span {
  color: var(--neutral-600, #6f6c90);
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 35.99px;
  font-weight: 400;
}
.footer-right-2-span2 {
  color: var(--primary-color-1, #4a3aff);
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 35.99px;
  font-weight: 400;
  text-decoration: underline;
}
.footer-right-2-span3 {
  color: var(--neutral-600, #6f6c90);
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 35.99px;
  font-weight: 400;
}
.footer-right-2-span4 {
  color: var(--primary-color-1, #4a3aff);
  font-family: "Satoshi-Regular", sans-serif;
  font-size: 21.59334373474121px;
  line-height: 35.99px;
  font-weight: 400;
  text-decoration: underline;
}
.group-6 {
  position: absolute;
  inset: 0;
}
.ellipse-13 {
  background: linear-gradient(
    96.14deg,
    rgba(58, 142, 246, 1) 0%,
    rgba(111, 58, 250, 1) 100%
  );
  border-radius: 50%;
  width: 32.41px;
  height: 32.41px;
  position: absolute;
  left: 464.59px;
  top: 88px;
  box-shadow: inset 0px 5.4px 5.4px 0px rgba(0, 0, 0, 0.12),
    0px 5.4px 25.66px 0px rgba(22, 120, 242, 0.2);
}
.rectangle-212 {
  background: #ffffff;
  border-radius: 1.06px;
  width: 7.05px;
  height: 18.32px;
  position: absolute;
  left: 477.27px;
  top: 95.05px;
}
.rectangle-222 {
  background: #ffffff;
  border-radius: 1.06px;
  width: 7.05px;
  height: 18.32px;
  position: absolute;
  left: 489.95px;
  top: 100.68px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.med-med2 {
  background: linear-gradient(
    96.14deg,
    rgba(58, 142, 246, 1) 0%,
    rgba(111, 58, 250, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Poppins-Black", sans-serif;
  font-size: 43.21963119506836px;
  font-weight: 900;
  position: absolute;
  left: 248px;
  top: 92.28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-12 {
  width: 4.84%;
  height: 1.81%;
  position: absolute;
  right: 87.58%;
  left: 7.58%;
  bottom: 96.1%;
  top: 2.09%;
  overflow: visible;
}
.dor-no-peito-1 {
  width: 94px;
  height: 94px;
  position: absolute;
  left: 490px;
  top: 1292px;
  object-fit: cover;
}
.prejuizo-1 {
  width: 94px;
  height: 94px;
  position: absolute;
  left: 1655px;
  top: 1300px;
  object-fit: cover;
}

